@using test.Models
@model List<New>


@{
    ViewBag.Title = "NewsList";
}



@foreach (var item in Model)
{
    <img src="@item.fotoUrl" style="margin-bottom:20px" width="300px" height="300px" />

    <a href="/News/NewsDetail/@item.id">@item.title</a>
    <h2>@item.content</h2>


}
