@using test.Models
@model test.Models.TableList
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Contact List</h2>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ABOUT US</th>
        <th>UPDATE</th>



    </tr>
    @{ if (test.Language.Localization.Language == "Türkçe")
        {
            foreach (var x in Model.aboutTr)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.aboutUs</td>
                    <td><a href="/Admin/bringAbout/@x.id" class="btn btn-success">Update</a></td>





                </tr>
            }

        }
        else
        {
            foreach (var x in Model.aboutEn)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.aboutUs</td>
                    <td><a href="/Admin/bringAbout/@x.id" class="btn btn-success">Update</a></td>





                </tr>
            }

        }

    }




</table>
