
@model test.Models.AboutUs
@{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bring Service</h2>

@using (Html.BeginForm("UpdateAbout", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })

    <br />

    @Html.LabelFor(x =>x.aboutUs)
    @Html.TextAreaFor(x => x.aboutUs, new { @class = "form-control" })

   


   
    <button class="btn btn-success">Update</button>


}