@using test.Models
@model test.Models.TableList
@{
    ViewBag.Title = "Collaboration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Collaboration List</h2>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>DETAILS</th>

    </tr>

    @{ if (test.Language.Localization.Language == "Türkçe")
        {
            foreach (var x in Model.collTr)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.title</td>
                    <td><a href="/Admin/DeleteColl/@x.id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Admin/bringColl/@x.id" class="btn btn-success">Update</a></td>
                    <td><a href="#" class="btn btn-default">Details</a></td>

                </tr>
            }


        }
        else
        {
            foreach (var x in Model.collEn)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.title</td>
                    <td><a href="/Admin/DeleteColl/@x.id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Admin/bringColl/@x.id" class="btn btn-success">Update</a></td>
                    <td><a href="#" class="btn btn-default">Details</a></td>

                </tr>
            }

        }

    }





</table>
<a href="/Admin/CreateColl/" class="btn btn-primary">New Collaboration</a>