@using test.Models
@model List<Product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product List</h2>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>DETAILS</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>

            <td>@x.id</td>
            <td>@x.name</td>
            <td><a href="/Admin/DeleteProduct/@x.id" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/bringProduct/@x.id" class="btn btn-success">Update</a></td>
            <td><a href="#" class="btn btn-default">Details</a></td>

        </tr>
    }



</table>
<a href="/Admin/CreateProduct/" class="btn btn-primary">New Product</a>