@using test.Models
@model test.Models.TableList
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Service List</h2>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>DETAILS</th>

    </tr>


    @{ if (test.Language.Localization.Language == "Türkçe")
        {
            foreach (var x in Model.serviceTr)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.title</td>
                    <td><a href="/Admin/DeleteService/@x.id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Admin/bringService/@x.id" class="btn btn-success">Update</a></td>
                    <td><a href="#" class="btn btn-default">Details</a></td>

                </tr>
            }


        }

        else
        {
            foreach (var x in Model.serviceEn)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.title</td>
                    <td><a href="/Admin/DeleteService/@x.id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Admin/bringService/@x.id" class="btn btn-success">Update</a></td>
                    <td><a href="#" class="btn btn-default">Details</a></td>

                </tr>
            }
        }

    }






</table>
<a href="/Admin/CreateService/" class="btn btn-primary">New Service</a>