@model test.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetails</title>
</head>
<body>



</body>
</html>