@using test.Models
@model List<Service>


@{
    ViewBag.Title = "ServiceList";
}



@foreach (var item in Model)
{
    <img src="@item.photoUrl" style="margin-bottom:20px" width="300px" height="300px" />

    <a href="/Services/ServiceDetails/@item.id">@item.title</a>
    <h2>@item.content</h2>


}
